@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Baloo 2', cursive;
  background-color: #fff7f0;
  color: #4b2e05;
}
